#end_credits_container{
        position: relative;
        height: 10vh;
        background-color: rgb(36, 36, 36);
        color: white;
        font-size: 2vh;
        font-family: "Bell MT";
        z-index: 1;
        margin-top: 5vh;
}

#made_by_me{
        position: absolute;
        bottom: 0;
}

#year{
        font-family: serif
}