

#board {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0px;
      
     
        box-sizing: border-box;
    }


.clear{
opacity: 0;
}
#chessboard_container {

        display: flex;
        justify-content: center;
        align-items: center;
    
        overflow: hidden;

        margin: 5vh;
    
}


#hovered_square{
        display: none;
}
