.square{
        border: 0px solid rgb(58, 58, 60);
        background-color: grey;
        width: 10vh;
        height: 10vh;

}

.white{
        background-color: white;
}

.black{
        background-color: black;
}

#board {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0px;
      

        box-sizing: border-box;
    }

#board-container {
        display: flex;
        justify-content: center;
        align-items: center;
    
        overflow: hidden;
        margin: 5vh;
        height: 80vh;
    
}

