#navbar_container{
        height: 8vh;
        display: flex;
        position: relative;
        justify-content: space-between;

       
        
        -webkit-transition: background-color .7s linear,  border-color .7s linear, opacity .7s linear;
        -moz-transition: background-color .7s linear,  border-color .7s linear,  opacity .7s linear;
                transition: background-color .7s linear,  border-color .7s linear, opacity .7s linear;

        

              
       
}

#navbar_logo img{
        
        
        height: 8vh;
        margin-left: 5vh;
}

#menu_icon_container img
{
        position: absolute;
        -webkit-filter: invert(100%);
        filter: invert(100%);
        height: 7vh;
        right: 5vh;
        z-index: 2;

        
        
}

#menu_icon_container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        
        
}

.center{

}


#dropdown_menu{
        width: 100vw;
        z-index: 3;
        background-color: black;
        position: fixed;
        right: 0;
        top: 8vh;
      
        -webkit-transition: height .4s linear, background-color .7s linear,  border-color .7s linear, opacity .4s linear;
        -moz-transition: height .4s linear, background-color .7s linear,  border-color .7s linear,  opacity .4s linear;
                transition: height .4s linear, background-color .7s linear,  border-color .7s linear, opacity .4s linear;
      

}

.remove_dropdown_item{
        height: 0;
        opacity: 0;
        
}

.add_dropdown_item{
        height: 8vh;
        opacity: 1;
}       


.remove_dropdown{
        opacity: 0.8;
        height:0vh;
}

.add_dropdown{
        opacity: 1;
        height: 92vh;
}



.dropdown_item_text{
        margin-left: 5rem;
        font-size: 3vh;
        justify-content: center;
        color: white;
        
}


.dropdown_item{
        display: flex;

        border-bottom: 2px white solid;
        color: black;
        padding: 1vh;
   
        align-items: center;
        
        width: 100vw;
        z-index: 100;

        -webkit-transition: height 0.5s linear, background-color .7s linear,  border-color .7s linear, opacity .4s linear;
        -moz-transition: height 0.5s linear, background-color .7s linear,  border-color .7s linear,  opacity .4s linear;
                transition: height 0.5s linear, background-color .7s linear,  border-color .7s linear, opacity .4s linear;
}

.dropdown_menu_inactive{
        border-bottom: solid 3px rgb(36,36,36);
        background-color: rgb(36,36,36);
}


.dropdown_menu_active{
        background-color: black;
        border-bottom: solid 3px white;
}

